@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-image: url(./images/bg-intro-desktop.png);
  background-color: hsla(0, 100%, 74%, 1);
  height: 100vh;
  background-position: center;
  background-size: 900px;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  max-width: 1440px; /* Desktop Design Width */
  width: 100%;
  margin: 30px;
  /* background-color: #fff; White background for container */
  overflow: hidden;
  color: hsl(248, 23%, 36%);
  flex-direction: column; /* Mobile-first design */
  position: relative; /* Ensure footer does not affect layout */
}

/* Content Section */
.content {
  padding: 120px 40px 40px; /* top left/right bottom*/
  margin: 20px;
  color: white;
  text-align: left;
  font-family: inherit;
}

.content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700; /* Typography: Bold heading */
}

.content p {
  font-size: 16px;
  padding-left: 10px;
  line-height: 1.6;
  font-weight: 400;
}
.title {
  background-color: hsl(248, 32%, 49%);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 8px;
}
.title h2 {
  font-family: inherit;
  padding: 20px;
  font-size: 16px;
  color: hsl(246, 25%, 77%);
}
.title span {
  font-weight: 600;
  color: #ffffff;
}

/* Form Section */
.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  background-color: #ffffff;
  padding: 40px;
  margin-bottom: 10px;
  font-family: inherit;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group input {
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 500;
}

.form-group input:focus {
  /* border: 1px solid hsl(246, 25%, 77%); */
  border: 1px solid hsl(248, 32%, 49%);
}

/* errro message */
.error-message {
  font-size: 14px;
  text-align: right;
  color: hsl(0, 100%, 74%);
  display: none;
}

/* Error icon */
.form-group {
  position: relative;
  width: 300px;
}

input {
  padding-left: 30px;
  width: 100%;
  height: 40px;
}

.error-icon {
  position: absolute;
  height: 20px;
  left: 90%;
  top: 40%;
  transform: translate(-10%, -50%);
  color: hsl(0, 100%, 74%);
  display: none;
}

.trial-button {
  background-color: hsl(154, 59%, 51%);
  color: white;
  font-size: 14px;
  font-family: inherit;
  text-transform: uppercase;

  box-shadow: inset 0 -4px 3px rgba(0, 0, 0, 0.2);
  /* horizontal vertical blur color*/
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.trial-button:hover {
  background-color: hsl(154, 59%, 45%);
}

.terms {
  font-size: 10px;
  color: hsl(246, 25%, 77%);
  margin-top: 10px;
  text-align: center;
}

.terms span {
  color: hsl(0, 100%, 74%);
  text-decoration: none;
  font-weight: 500;
}

.terms span:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (min-width: 768px) {
  .container {
    flex-direction: row; /* Side-by-side layout for larger screens */
  }

  .content,
  .form-section {
    flex: 1; /* Equal space for both sections */
  }

  /* .content {
    height: auto;
    padding: 120px 40px 40px 80px; 
 */
}

footer {
  text-align: center;
  padding: 10px;
  /* background-color: #fff; */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: -20%;
  font-size: 0.8em;
  color: hsl(246, 25%, 77%);
}

footer a {
  color: hsl(248, 32%, 49%);
  text-decoration: none;
  font-weight: 500;
}

footer a:hover {
  text-decoration: underline;
}
